// SECTION 1. ABOUT ///////////////////////////////////////////////////////////////////////////////
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about .sectionHeading {
    flex: 1 0 100%;
}

.myPhoto {
    // flex: 1 0 175px;
    border-radius: 50%;
    max-width: 300px;
    min-width: 175px;
    padding: 10px;
}

.myPhoto img {
    border-radius: 50%;
} 

.myStory {
    //flex: 1 0 calc(100% - 175px - 60px);
    flex: 1 0 calc(100% - 50px - 20px);
    max-width: 750px;
    padding: 0 25px;
}

.myStory strong {
    color: darkblue;
}

// RESUME //
.resumeLink {
    flex: 1 0 100%;
    text-align: center;

    a {
        position: relative;
        transition: all .3s ease-in;
        z-index: 5;

        margin-top: 30px;
        padding: 15px 25px;
        line-height: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
};

.resumeLink a:hover,
.resumeLink a:focus {
    color: #ffffff;
    border: 1px solid transparent;
}

.resumeLink a:hover::after,
.resumeLink a:focus::after {
    height: 100%;
};