// SECTION 1. ABOUT ///////////////////////////////////////////////////////////////////////////////
.about {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about h2 {
    color: #0d0d0d;
}

.myPhoto {
    border-radius: 50%;
    flex: 1 0 250px;
    max-width: 300px;

    padding: 10px;
}

.myPhoto > * {
    border-radius: 50%;
} 

.aboutInfo {
    flex: 1 0 250px;
    padding: 50px;
}

.aboutInfo span {
    color: darkblue;
    font-weight: 700;
}
