// Styles for body
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.15rem;
}

:hover,
:focus {
    transition: all 0.5s;
}

textarea {
    resize: none;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 { 
    font-size: 7rem;
    color: #ffffff;
}

header h2 {
    color: #ffffff;
}

h2 { 
    font-size: 5rem;
    color: #0d0d0d;
    text-align: center;
}


// NEW STUF
.separator {
    position: relative;
	display:block;
    margin: 50px 0;
    height: 10px;
}

.separator span {  
    position: absolute;
	display: block;
	width: 100px;
    height: 1px;
    margin: 1px;
	line-height: 1px;
    background: #0d0d0d;
    left: calc(100%/2 - 50px);
}


[data-bigletter] { 
    position: relative; 
    z-index: 1; 
}

[data-bigletter]:before {
	z-index: -1;
	content: attr(data-bigletter);
	font-weight: 700;
	font-size: 3em;
	opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position: absolute;
	top: -0.5em;
	left: 50%;
	text-align: center;
	-webkit-transition: all 600ms 0.2s ease;
    -moz-transition: all 600ms 0.2s ease;
    -o-transition: all 600ms 0.2s ease;
    -ms-transition: all 600ms 0.2s ease;
    transition: all 600ms 0.2s ease;
}

.align-center [data-bigletter]:before, 
nav#main-nav [data-bigletter]:before { 
    left: 50%; 
    width: 1200px; 
    margin-left: -600px; 
}

.align-right [data-bigletter]:before { 
    left: inherit; 
    right: -0.35em; 
}

.visible[data-bigletter]:before { 
    top: -0.5em;
    left: 45%;
    opacity: 0.07; 
    filter: alpha(opacity=7); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=7)"; 
}

.text-light .visible[data-bigletter]:before { 
    opacity: 0.15; filter: alpha(opacity=15); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)"; 
}
