// Styles for body
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    color: #4d4d4d;
    line-height: 2.6rem;
}

:hover,
:focus {
    transition: all 0.5s;
}

textarea {
    resize: none;
}

strong {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    color: #0d0d0d;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 8rem;
}

h1 { 
    font-size: 7rem;
    color: #ffffff;
}

header h2 {
    color: #ffffff;
}

h2 {
    display: inline-block;
    font-size: 5rem;
    color: #0d0d0d;
    text-align: center;
}

h3 {
    font-weight: 300;
}

h4, 
h5 {
    display: inline-block;
}

h4 {
    font-size: 2rem;
    margin: 20px 0;
}

h5 {
    font-size: 1.8rem;
}

section h2 { 
    font-weight: 700;
    margin: 0;
}

.sectionHeading {
    text-align: center;
}

// SEPARATOR ////////////////////////
.separator,
.separator span {
    position: relative;
	display: block;
}

.separator {
    margin: 10px 0;
    height: 10px;
}

.separator span {
	width: 5px;
    height: 5px;
    margin: 0 auto;
    border-radius: 50%;
    background: #0d0d0d;
}

.separator span::before,
.separator span::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 2px;
    border-bottom: 1px solid #0d0d0d;
    top: 1px;
    right: 10px;
}

.separator span::after {
    left: 10px;
}


// HEADINGS BACKGROUND ////////////////////////
[data-bigletter] {
    position: relative; 
}

[data-bigletter]:before {
    position: absolute;
	content: attr(data-bigletter);
    font-size: 2em;
    font-weight: 700;
    left: 26%;
    right: 26%;
    top: -2%;
    opacity: 0.1;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

// TOP PART OF SKILLS + PROJECT + CONTACT
.topPartSection {
    text-align: center;
}


.resumeLink a,
.sortButtons button,
.projectInfo a {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #0d0d0d;
    background: none;
    cursor: pointer;
    transition: all .3s ease-in;
};

// BORDERS //////////////////////////////////////////////////////////// 
.borderLeft,
.borderRight,
.borderTop,
.borderBottom {
    background: #f0f0f0;
    position: fixed;
    z-index: 50;
};

.borderLeft,
.borderRight {
    top: 0;
    bottom: 0;
    width: 40px;
};

.borderTop,
.borderBottom {
    left: 0;
    right: 0;
    height: 40px;
};

.borderRight {
    right: 0;
};

.borderLeft {
    left: 0;
};

.borderTop {
    top: 0;
};

.borderBottom {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
};

// SOCAIL MEDIA ON THE BOTTOM BORDER ////////////////////////////
.borderBottom .socialMedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 40px;

    a {
        color: #0d0d0d;
        opacity: 1;
    };
}

.socialMedia a:hover,
.socialMedia a:focus {
    transform: scale(1.25);
}


.borderBottom .socialMedia,
.toTopLink {
    display: none;
    transition: all 0.3s ease-in;
}

// BETTER HOVER FOR SOME BUTTONS/LINKS; Resume link, project live/code links, Form submit
.resumeLink a::after,
.projectInfo a::after,
.formEl button::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0d0d0d;
    height: 0;
    transition: height .2s ease;
}

// WELCOME SCREEN
.welcome {
    background: #0d0d0d;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 75;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;

    p {
        position: relative;
        color: white;
        font-size: 8rem;
        line-height: 7rem;
        padding: 40px;
        text-align: center;
        overflow: hidden;

        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3),
        span:nth-child(4) {
            position: absolute;
            background: white;
        }

        span:nth-child(1),
        span:nth-child(3) {
            width: 100%;
            height: 2px;
        }

        span:nth-child(1) {
            left: -100%;
            top: 0;
            animation: moveRight 1s linear forwards;
            animation-delay: .5s;
        }

        span:nth-child(3) {
            left: 100%;
            bottom: 0;
            animation: moveLeft 1s linear forwards;
            animation-delay: .5s;
        }

        span:nth-child(2),
        span:nth-child(4) {
            width: 2px;
            height: 100%;
        }

        span:nth-child(2) {
            right: 0;
            top: 100%;
            animation: moveTop 1s linear forwards;
            animation-delay: .5s;
        }

        span:nth-child(4) {
            left: 0;
            top: -100%;
            animation: moveBottom 1s linear forwards;
            animation-delay: .5s;
        }
    }
}

@keyframes moveRight {
    100% { left: 0 };
}

@keyframes moveBottom {
    100% { top: 0; }
}

@keyframes moveLeft {
    100% { left: 0 };
}

@keyframes moveTop {
    100% { top: 0; }
}

.welcomeUp {
    top: -100%;
    bottom: 100%;
}

// to remove scroll while page is loading put this class on body
// .removeScroll {
//     height: 100%;
//     overflow: hidden;
// }