header {
    // background: url(../assets/vinayak-sharma-VAzTBp3KMaw-unsplash.jpg);
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}