header {
    background: url(../img/nathan-anderson-iYO-EGosrCo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h1, h2 {
        text-shadow: 3px 3px black;
    }
}

.headerTop {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: sticky;
    z-index: 55;
}

.toggleOpacity {
    opacity: 0;
}

.toggleOpacityToLow {
    opacity: 0.2;
}

.toggleDisplayNone {
    display: none;
}

// removing scroll when needed
.fixedBody {
    height: 100%;
    overflow: hidden;
}

// FIXED HAMBURGER //////////////////////////////////////////////////////////////////////////////////
.headerTopFixed {
    position: fixed;
    top: 5px;
    z-index: 55;
    width: calc(100% - 80px);

    .logoInitials {
        width: 50px;
    }

    .showNav {
        width: 30px;
        height: 30px;
    }

    .showNav span {
        background: #0d0d0d;
    }

    .showNav span.clicked:nth-child(1) {
        top: 15px;
    }
    
    .showNav span.clicked:nth-child(3) {
        top: 15px;
    }
}

//////////////////////////////////////////////////////////////////////////////////
.headerBottom {
    text-align: center;
    margin: auto;
    order: 15;
    transition: all .3s;
}

.logoInitials {
    width: 70px;
    transition: all 0.3s ease-in;
}

// HAMBURGER MENU ///////////////////////////////////////////
header .showNav {
    position: relative;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    z-index: 20;

    transition: all .3s ease-in-out;
}

.showNav span {
    position: absolute;
    display: block;
    height: 1.5px;
    background: #ffffff;

    content: "";
    transition: all .3s ease-in-out;
    left: 0px;
    right: 0px;
}

.showNav span:nth-child(1) {
    top: 0;
}

.showNav span:nth-child(2) {
    top: calc(50% - 1.5px);
}

.showNav span:nth-child(3) {
    top: calc(100% - 1.5px);
}

.showNav:hover,
.showNav:focus{
    // transform: scale(1.01);
    cursor: pointer;
    span:nth-child(1) { top: 25%; }
    span:nth-child(2) { top: 50%; }
    span:nth-child(3) { top: 75%; }
}

// NAVIGATION MENU
nav {
    position: fixed;
    top: -1000px;
    transition: all .3s ease-in-out;
    z-index: 25;
    width: 100%;

    visibility: hidden;
}

.openedNav {
    background: rgba(10, 10, 10, 0.95);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px;

    visibility: visible;
}

.showNav span.clicked:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    transition: all .3s;
}

.showNav span.clicked:nth-child(2) {
    opacity: 0;
    left: -30px;
}

.showNav span.clicked:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    transition: all .3s;
}

.showNav:hover span.clicked:nth-child(1),
.showNav:focus span.clicked:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.showNav:hover span.clicked:nth-child(3),
.showNav:focus span.clicked:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav .scrollTo,
.socialMedia a {
    opacity: 0.8;
    color: #ffffff;
} 

nav .scrollTo {
    margin: 10px;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
}

nav [data-bigletter]:before {
    top: 10%;
    opacity: 0;
    font-size: 3em;
    transition: all 0.3s ease-in;
}

.scrollTo:hover:before ,
.scrollTo:focus:before {
    opacity: 0.3;
}

.socialMedia a {
    margin: 5px;
    padding: 5px;
}