header {
    background: url(../img/nathan-anderson-iYO-EGosrCo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerTop {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: sticky;
    z-index: 55;
}

.toggleOpacity {
    opacity: 0;
}

// FIXED HAMBURGER //////////////////////////////////////////////////////////////////////////////////
.headerTopFixed {
    position: fixed;
    top: 5px;
    z-index: 55;
    width: calc(100% - 80px);

    .logoInitials {
        width: 50px;
    }

    .showNav {
        width: 30px;
        height: 30px;
    }
    .showNav span::before {
        top: -10px;
    }

    .showNav span::after {
        top: 10px;
    }

    .showNav span,
    .showNav span::before,
    .showNav span::after {
        background: #0d0d0d;
    }
}

//////////////////////////////////////////////////////////////////////////////////
.headerBottom {
    text-align: center;
    margin: auto;
    order: 15;
    //margin-bottom: 25vh;
}

.logoInitials {
    width: 70px;
    transition: all 0.3s ease-in;
}

// HAMBURGER MENU ///////////////////////////////////////////
header .showNav {
    position: relative;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    z-index: 20;

    transition: all .3s ease-in-out;
}

.showNav span,
.showNav span::before,
.showNav span::after {
    position: absolute;
    display: block;
    height: 1.5px;
    background: #ffffff;
}

.showNav span {
    left: 5px;
    right: 5px;
}

.showNav span::before,
.showNav span::after  {
    content: "";
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

.showNav span::before {
    top: -15px;
}

.showNav span::after {
    top: 15px;
}

.showNav:hover,
.showNav:focus{
    transform: scale(1.25);
    //transform: rotateZ(180deg);
    cursor: pointer;
}

// NAVIGATION MENU
nav {
    position: fixed;
    top: -2000px;
    transition: all .3s ease-in-out;
    z-index: 25;
    width: 100%;
}

.openedNav {
    background: rgba(10, 10, 10, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.showNav span.clicked::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}

.showNav span.clicked {
    background: transparent;
}

// .showNav span.clicked::before,
// .showNav span.clicked::after {
//     background: #ffffff;
// }

.showNav span.clicked::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav .scrollTo,
.socialMedia a {
    opacity: 0.8;
    color: #ffffff;
} 

nav .scrollTo {
    margin: 10px;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
}

nav [data-bigletter]:before {
    top: 10%;
    opacity: 0;
    font-size: 3em;
    transition: all 0.3s ease-in;
}

.scrollTo:hover:before ,
.scrollTo:focus:before {
    opacity: 0.3;
}

.socialMedia a {
    margin: 5px;
    padding: 5px;
}