.bodyborder {
    background: #f0f0f0;
    position: fixed;
    z-index: 50;
}

// .loadingEnd
// .bodyborderLeft {
//     left: 0 !important;
// }

// .bodyborderRight {
//     right: 0 !important;
// }

// .bodyborderTop {
//     top: 0 !important;
// }

// .bodyborderBottom {
//     bottom: 0 !important;
// }

// .bodyborderLeft,
// .bodyborderRight {
//     top: 0;
//     bottom: 0;
//     width: 50px;
// }

// .bodyborderTop,
// .bodyborderBottom {
//     right: 0;
//     left: 0;
//     height: 50px;
// }