@media (max-width: 1000px) {
    // about section
    .about {
        flex-direction: column;
    }

    // Project section
    .allProjects {
        flex-direction: column;
    }
}



@media (max-width: 600px) {
    .projectInfo h5 {
        font-size: 2rem;
    }

    .projectInfo p,
    .projectInfo a {
        font-size: 1.2rem;
    }

    .projectInfo p {
        width: 60%;
    }

    .projectInfo a {
        padding: 5px;
    }
}