@media (min-width: 1300px) {
    .projectsList {
        grid-template-columns: repeat(auto-fit, minmax(150px, calc(100%/3 - 40px/3)));
    }
};

@media (max-width: 900px) {
    .projectsList {
        grid-template-columns: repeat(auto-fit, minmax(150px, 100%));
    }
};

@media (max-width: 700px) {
    // PROJECTS
    .projectInfo {
        position: static;
        opacity: 1;

        h5 {
            margin: 10px 0;
        }

        p {
            margin: 10px 10%;
        }
    };

    .formEl:nth-child(1),
    .formEl:nth-child(2) {
        flex: 1 0 100%;
    }

    .toTopLink {
        position: static;
    }

    .borderBottom .socialMedia {
        justify-content: center;
    }

    .welcome p {
        font-size: 4rem;
        line-height: 5.5rem;
        padding: 20px;
    }
};

@media (max-width: 500px) {

    .headerBottom {       
        margin: 0 0 auto;
        
        h1 {
            font-size: 4rem;
            line-height: 5.5rem;
            margin-top: 30px;
        }

        h2 {
            font-size: 2.5rem;
            line-height: 3.5rem;
            margin-top: 30px;
        }
    }

    .backgroundImgOne,
    .backgroundImgTwo { 
        font-size: 1.4rem;
        line-height: inherit;
    }

    h2 {
        font-size: 3.5rem;
    }

    // SKILLS SECTION
    .topPartSection {
        padding: 0 25px;
    }

    .allSkills {
        justify-content: space-evenly;
    }

    .singleSkill {
        min-width: 90px;
    }

    h4 {
        font-size: 1.2rem;
    }

    .about.wrapper,
    .skill.wrapper,
    .project.wrapper {
        padding: 40px;
    }
};


@media (max-width: 325px) {
    .singleSkill  {
        min-width: 60px;
        i {
            font-size: 5rem;
        }
    }

    h4 {
        font-size: 0.8rem;
        margin: 10px 0;
        line-height: 1rem;
    }
}