// SECTION 2. SKILLS ///////////////////////////////////////////////////////////////////////////////
.allSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
}

.singleSkill {
    width: 15%;
    min-width: 150px;
    margin: 10px;
}
.singleSkill i {
    font-size: 8rem;
    display: block;
}