html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  margin: 0 auto;
  padding: 80px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: #4d4d4d;
  line-height: 2.6rem;
}

:hover,
:focus {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

textarea {
  resize: none;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  color: #0d0d0d;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 8rem;
}

h1 {
  font-size: 7rem;
  color: #ffffff;
}

header h2 {
  color: #ffffff;
}

h2 {
  display: inline-block;
  font-size: 5rem;
  color: #0d0d0d;
  text-align: center;
}

h3 {
  font-weight: 300;
}

h4,
h5 {
  display: inline-block;
}

h4 {
  font-size: 2rem;
  margin: 20px 0;
}

h5 {
  font-size: 1.8rem;
}

section h2 {
  font-weight: 700;
  margin: 0;
}

.sectionHeading {
  text-align: center;
}

.separator,
.separator span {
  position: relative;
  display: block;
}

.separator {
  margin: 10px 0;
  height: 10px;
}

.separator span {
  width: 5px;
  height: 5px;
  margin: 0 auto;
  border-radius: 50%;
  background: #0d0d0d;
}

.separator span::before,
.separator span::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 2px;
  border-bottom: 1px solid #0d0d0d;
  top: 1px;
  right: 10px;
}

.separator span::after {
  left: 10px;
}

[data-bigletter] {
  position: relative;
}

[data-bigletter]:before {
  position: absolute;
  content: attr(data-bigletter);
  font-size: 2em;
  font-weight: 700;
  left: 26%;
  right: 26%;
  top: -2%;
  opacity: 0.1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.topPartSection {
  text-align: center;
}

.resumeLink a,
.sortButtons button,
.projectInfo a {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #0d0d0d;
  background: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.borderLeft,
.borderRight,
.borderTop,
.borderBottom {
  background: #f0f0f0;
  position: fixed;
  z-index: 50;
}

.borderLeft,
.borderRight {
  top: 0;
  bottom: 0;
  width: 40px;
}

.borderTop,
.borderBottom {
  left: 0;
  right: 0;
  height: 40px;
}

.borderRight {
  right: 0;
}

.borderLeft {
  left: 0;
}

.borderTop {
  top: 0;
}

.borderBottom {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borderBottom .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px;
}

.borderBottom .socialMedia a {
  color: #0d0d0d;
  opacity: 1;
}

.socialMedia a:hover,
.socialMedia a:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.borderBottom .socialMedia,
.toTopLink {
  display: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.resumeLink a::after,
.projectInfo a::after,
.formEl button::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0d0d0d;
  height: 0;
  -webkit-transition: height .2s ease;
  transition: height .2s ease;
}

.welcome {
  background: #0d0d0d;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 75;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.welcome p {
  position: relative;
  color: white;
  font-size: 8rem;
  line-height: 7rem;
  padding: 40px;
  text-align: center;
  overflow: hidden;
}

.welcome p span:nth-child(1),
.welcome p span:nth-child(2),
.welcome p span:nth-child(3),
.welcome p span:nth-child(4) {
  position: absolute;
  background: white;
}

.welcome p span:nth-child(1),
.welcome p span:nth-child(3) {
  width: 100%;
  height: 2px;
}

.welcome p span:nth-child(1) {
  left: -100%;
  top: 0;
  -webkit-animation: moveRight 1s linear forwards;
          animation: moveRight 1s linear forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.welcome p span:nth-child(3) {
  left: 100%;
  bottom: 0;
  -webkit-animation: moveLeft 1s linear forwards;
          animation: moveLeft 1s linear forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.welcome p span:nth-child(2),
.welcome p span:nth-child(4) {
  width: 2px;
  height: 100%;
}

.welcome p span:nth-child(2) {
  right: 0;
  top: 100%;
  -webkit-animation: moveTop 1s linear forwards;
          animation: moveTop 1s linear forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.welcome p span:nth-child(4) {
  left: 0;
  top: -100%;
  -webkit-animation: moveBottom 1s linear forwards;
          animation: moveBottom 1s linear forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes moveRight {
  100% {
    left: 0;
  }
}

@keyframes moveRight {
  100% {
    left: 0;
  }
}

@-webkit-keyframes moveBottom {
  100% {
    top: 0;
  }
}

@keyframes moveBottom {
  100% {
    top: 0;
  }
}

@-webkit-keyframes moveLeft {
  100% {
    left: 0;
  }
}

@keyframes moveLeft {
  100% {
    left: 0;
  }
}

@-webkit-keyframes moveTop {
  100% {
    top: 0;
  }
}

@keyframes moveTop {
  100% {
    top: 0;
  }
}

.welcomeUp {
  top: -100%;
  bottom: 100%;
}

header {
  background: url(../img/nathan-anderson-iYO-EGosrCo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1, header h2 {
  text-shadow: 3px 3px black;
}

.headerTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  z-index: 55;
}

.toggleOpacity {
  opacity: 0;
}

.toggleOpacityToLow {
  opacity: 0.2;
}

.toggleDisplayNone {
  display: none;
}

.fixedBody {
  height: 100%;
  overflow: hidden;
}

.headerTopFixed {
  position: fixed;
  top: 5px;
  z-index: 55;
  width: calc(100% - 80px);
}

.headerTopFixed .logoInitials {
  width: 50px;
}

.headerTopFixed .showNav {
  width: 30px;
  height: 30px;
}

.headerTopFixed .showNav span {
  background: #0d0d0d;
}

.headerTopFixed .showNav span.clicked:nth-child(1) {
  top: 15px;
}

.headerTopFixed .showNav span.clicked:nth-child(3) {
  top: 15px;
}

.headerBottom {
  text-align: center;
  margin: auto;
  -webkit-box-ordinal-group: 16;
      -ms-flex-order: 15;
          order: 15;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.logoInitials {
  width: 70px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header .showNav {
  position: relative;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  z-index: 20;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.showNav span {
  position: absolute;
  display: block;
  height: 1.5px;
  background: #ffffff;
  content: "";
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  left: 0px;
  right: 0px;
}

.showNav span:nth-child(1) {
  top: 0;
}

.showNav span:nth-child(2) {
  top: calc(50% - 1.5px);
}

.showNav span:nth-child(3) {
  top: calc(100% - 1.5px);
}

.showNav:hover,
.showNav:focus {
  cursor: pointer;
}

.showNav:hover span:nth-child(1),
.showNav:focus span:nth-child(1) {
  top: 25%;
}

.showNav:hover span:nth-child(2),
.showNav:focus span:nth-child(2) {
  top: 50%;
}

.showNav:hover span:nth-child(3),
.showNav:focus span:nth-child(3) {
  top: 75%;
}

nav {
  position: fixed;
  top: -1000px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 25;
  width: 100%;
  visibility: hidden;
}

.openedNav {
  background: rgba(10, 10, 10, 0.95);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
  visibility: visible;
}

.showNav span.clicked:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.showNav span.clicked:nth-child(2) {
  opacity: 0;
  left: -30px;
}

.showNav span.clicked:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .scrollTo,
.socialMedia a {
  opacity: 0.8;
  color: #ffffff;
}

nav .scrollTo {
  margin: 10px;
  padding: 5px 10px;
  width: 100%;
  text-align: center;
}

nav [data-bigletter]:before {
  top: 10%;
  opacity: 0;
  font-size: 3em;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.scrollTo:hover:before,
.scrollTo:focus:before {
  opacity: 0.3;
}

.socialMedia a {
  margin: 5px;
  padding: 5px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .sectionHeading {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.myPhoto {
  border-radius: 50%;
  max-width: 300px;
  min-width: 175px;
  padding: 10px;
}

.myPhoto img {
  border-radius: 50%;
}

.myStory {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 50px - 20px);
          flex: 1 0 calc(100% - 50px - 20px);
  max-width: 750px;
  padding: 0 25px;
}

.myStory strong {
  color: darkblue;
}

.resumeLink {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  text-align: center;
}

.resumeLink a {
  position: relative;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: 5;
  margin-top: 30px;
  padding: 10px 25px;
  line-height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.resumeLink a:hover,
.resumeLink a:focus {
  color: #ffffff;
  border: 1px solid transparent;
}

.resumeLink a:hover::after,
.resumeLink a:focus::after {
  height: 100%;
}

.allSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 40px 0;
}

.singleSkill {
  width: 15%;
  min-width: 150px;
  margin: 10px;
}

.singleSkill i {
  font-size: 8rem;
  display: block;
}

.html i {
  color: #F14A29;
}

.css i {
  color: #2962ff;
}

.sass i {
  color: #fd7e14;
}

.jsIcon i {
  color: #f0db4f;
}

.jquery i {
  color: #0769ad;
}

.reactIcon i {
  color: #61dbfb;
}

.responsive i {
  color: #25201c;
}

.github i {
  color: #211F1F;
}

.firebase i {
  color: #F5820D;
}

.paired i {
  color: #69625b;
}

.accessibility i {
  color: #1e90ff;
}

.nodeJs i {
  color: #3c873a;
}

.twitter i {
  color: #00acee;
}

.linkedin i {
  color: #0e76a8;
}

.calendly i {
  color: #00a3fa;
}

.redux svg,
.typeScript svg {
  max-height: 80px;
  display: block;
  margin: 0 auto;
}

.backgroundImgOne {
  background: url(../img/diego-jimenez-A-NVHPka9Rk-unsplash.jpg);
}

.backgroundImgTwo {
  background: url(../img/daniel-leone-v7daTKlZzaw-unsplash.jpg);
}

.backgroundImgOne,
.backgroundImgTwo {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 50vh;
  color: #ffffff;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backgroundImgOne p,
.backgroundImgTwo p {
  width: 70%;
  text-shadow: 2px 2px #0d0d0d;
}

.sortButtons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sortButtons button {
  border: none;
  margin: 5px;
  padding: 5px 10px;
}

.everySortButton::after {
  display: block;
  content: "";
  background: #0d0d0d;
  width: 0%;
  margin: 3px auto;
  height: 1px;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.sortButtons button:hover::after,
.sortButtons button:focus::after {
  width: 100%;
}

.onLoad::after {
  width: 100%;
}

.hiddenProjects {
  display: none;
}

.projectsList {
  margin: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, calc(50% - 10px)))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, calc(50% - 10px)));
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectsList li {
  position: relative;
}

.projectInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: 15;
  background: #ffffff;
  text-align: center;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsList li:hover .projectInfo,
.projectInfo:focus-within {
  opacity: 1;
}

.projectInfo .projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectInfo p {
  margin: 0 10%;
  line-height: 1.8rem;
}

.projectInfo a {
  position: relative;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: 5;
  margin: 10px;
  padding: 5px 10px;
  line-height: 1.5rem;
  background: #ffffff;
  border: 1px solid #0d0d0d;
}

.projectInfo a:hover,
.projectInfo a:focus {
  color: #ffffff;
}

.projectInfo a:hover::after,
.projectInfo a:focus::after {
  height: 100%;
}

form,
.contact .topPartSection {
  padding: 20px 0;
}

.formInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 550px;
}

.formEl {
  margin: 10px;
  width: 100%;
  text-align: center;
  position: relative;
}

.formEl:nth-child(1),
.formEl:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100%/2 - 40px);
          flex: 1 0 calc(100%/2 - 40px);
}

form label {
  color: #0d0d0d;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.formEl input[type="text"],
.formEl input[type="email"],
.formEl textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  color: #0d0d0d;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.formEl input[type="text"]:focus,
.formEl input[type="email"]:focus,
.formEl textarea:focus {
  border-color: #0d0d0d;
  outline: none;
}

textarea {
  line-height: 2.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.formEl button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.formEl button,
.toTopLink a {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  padding: 10px 25px;
  letter-spacing: 2px;
  color: #0d0d0d;
  background: none;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.toTopLink {
  margin: 0 15px;
}

.toTopLink a::after {
  display: block;
  content: "";
  background: #0d0d0d;
  width: 0%;
  margin: auto;
  height: .5px;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.toTopLink a:hover::after,
.toTopLink a:focus::after {
  width: 100%;
}

.formEl button:hover,
.formEl button:focus {
  color: #ffffff;
  border: 1px solid transparent;
}

.formEl button:hover::after,
.formEl button:focus::after {
  height: 100%;
}

.nameError,
.emailError,
.textFieldError {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 1.2rem;
  color: #eb2c42;
}

.contact .socialMedia {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  margin: 40px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.contact .socialMedia li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .socialMedia a {
  color: #0d0d0d;
  opacity: 1;
  font-size: 4rem;
}

.displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.displayNone {
  display: none;
}

@media (max-width: 1100px) {
  .projectsList {
    -ms-grid-columns: (minmax(150px, 100%))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 100%));
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .projectInfo p {
    line-height: 3rem;
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .projectInfo {
    position: static;
    opacity: 1;
    background: #ffffff;
  }
  .projectInfo h5 {
    margin: 10px 0;
  }
  .projectInfo p {
    margin: 10px 10%;
  }
  .formEl:nth-child(1),
  .formEl:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .borderBottom .socialMedia {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome p {
    font-size: 4rem;
    line-height: 5.5rem;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .headerBottom {
    margin: 0 0 auto;
  }
  .headerBottom h1 {
    font-size: 4rem;
    line-height: 5.5rem;
    margin-top: 30px;
  }
  .headerBottom h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-top: 30px;
  }
  .backgroundImgOne,
  .backgroundImgTwo {
    font-size: 1.4rem;
    line-height: inherit;
  }
  h2 {
    font-size: 3.5rem;
  }
  .topPartSection {
    padding: 0 25px;
  }
  .allSkills {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .singleSkill {
    min-width: 75px;
  }
  .singleSkill i {
    font-size: 5rem;
  }
  h4 {
    font-size: 0.8rem;
    margin: 10px 0;
    line-height: 1rem;
  }
  .about.wrapper,
  .skill.wrapper,
  .project.wrapper {
    padding: 40px;
  }
  .redux svg,
  .typeScript svg {
    max-height: 50px;
  }
  .contact .socialMedia {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact .socialMedia a {
    font-size: 3rem;
  }
}
